.minecraft/backups/2022-08-04_23-00-14_New World.zip
.minecraft/backups/2022-08-09_15-43-03_New World (2).zip
.minecraft/backups/2022-08-09_17-00-08_New World (2).zip
.minecraft/backups/2022-08-09_17-17-57_New World (2).zip
.minecraft/backups/2022-08-09_17-56-55_New World (2).zip
.minecraft/saves/New World/session.lock
.minecraft/saves/New World/data/bclib.nbt
.minecraft/saves/New World/data/betterend.nbt
.minecraft/saves/New World/data/betternether.nbt
.minecraft/saves/New World (1)/session.lock
.minecraft/saves/New World (1)/data/bclib.nbt
.minecraft/saves/New World (1)/data/betterend.nbt
.minecraft/saves/New World (1)/data/betternether.nbt
.minecraft/saves/New World (2)/icon.png
.minecraft/saves/New World (2)/kubejs_persistent_data.nbt
.minecraft/saves/New World (2)/level.dat
.minecraft/saves/New World (2)/level.dat_old
.minecraft/saves/New World (2)/session.lock
.minecraft/saves/New World (2)/DIM-1/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/DIM-1/data/raids.dat
.minecraft/saves/New World (2)/DIM1/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/DIM1/data/raids_end.dat
.minecraft/saves/New World (2)/advancements/b8dafb87-d920-4b25-b8da-2fbe254c1519.json
.minecraft/saves/New World (2)/data/bclib.nbt
.minecraft/saves/New World (2)/data/betterend.nbt
.minecraft/saves/New World (2)/data/betternether.nbt
.minecraft/saves/New World (2)/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/data/fabricRegistry.dat
.minecraft/saves/New World (2)/data/fabricRegistry.dat.1
.minecraft/saves/New World (2)/data/fabricRegistry.dat.2
.minecraft/saves/New World (2)/data/modern_industrialization_guidebook.dat
.minecraft/saves/New World (2)/data/raids.dat
.minecraft/saves/New World (2)/data/rer_worldgen.dat
.minecraft/saves/New World (2)/data/scoreboard.dat
.minecraft/saves/New World (2)/dimensions/ae2/spatial_storage/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/ae2/spatial_storage/data/raids.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/data/raids.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/data/rer_worldgen.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.-1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.0.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.0.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.1.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.1.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/entities/r.1.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-1.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-1.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-1.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-2.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-2.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.-2.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.0.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.0.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.0.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.0.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.0.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.1.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.1.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.1.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.1.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.2.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.2.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.2.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.2.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/poi/r.2.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-1.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-1.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-1.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-2.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-2.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.-2.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.0.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.0.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.0.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.0.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.0.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.1.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.1.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.1.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.1.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.1.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.2.-1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.2.-2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.2.0.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.2.1.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/dungeon_pockets/region/r.2.2.mca
.minecraft/saves/New World (2)/dimensions/dimdoors/limbo/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/limbo/data/raids.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/personal_pockets/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/personal_pockets/data/raids.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/public_pockets/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/dimdoors/public_pockets/data/raids.dat
.minecraft/saves/New World (2)/dimensions/edenring/edenring/data/cardinal_world_components.dat
.minecraft/saves/New World (2)/dimensions/edenring/edenring/data/raids.dat
.minecraft/saves/New World (2)/entities/r.0.-1.mca
.minecraft/saves/New World (2)/entities/r.0.-2.mca
.minecraft/saves/New World (2)/entities/r.1.-1.mca
.minecraft/saves/New World (2)/entities/r.1.-2.mca
.minecraft/saves/New World (2)/entities/r.2.-2.mca
.minecraft/saves/New World (2)/fabrication/features.ini
.minecraft/saves/New World (2)/playerdata/b8dafb87-d920-4b25-b8da-2fbe254c1519.dat
.minecraft/saves/New World (2)/playerdata/b8dafb87-d920-4b25-b8da-2fbe254c1519.dat_old
.minecraft/saves/New World (2)/poi/r.0.-1.mca
.minecraft/saves/New World (2)/poi/r.0.-2.mca
.minecraft/saves/New World (2)/poi/r.0.-3.mca
.minecraft/saves/New World (2)/poi/r.0.0.mca
.minecraft/saves/New World (2)/poi/r.1.-1.mca
.minecraft/saves/New World (2)/poi/r.1.-2.mca
.minecraft/saves/New World (2)/poi/r.1.-3.mca
.minecraft/saves/New World (2)/poi/r.1.0.mca
.minecraft/saves/New World (2)/poi/r.2.-1.mca
.minecraft/saves/New World (2)/poi/r.2.-2.mca
.minecraft/saves/New World (2)/poi/r.2.-3.mca
.minecraft/saves/New World (2)/poi/r.2.0.mca
.minecraft/saves/New World (2)/region/r.0.-1.mca
.minecraft/saves/New World (2)/region/r.0.-2.mca
.minecraft/saves/New World (2)/region/r.0.-3.mca
.minecraft/saves/New World (2)/region/r.0.0.mca
.minecraft/saves/New World (2)/region/r.1.-1.mca
.minecraft/saves/New World (2)/region/r.1.-2.mca
.minecraft/saves/New World (2)/region/r.1.-3.mca
.minecraft/saves/New World (2)/region/r.1.0.mca
.minecraft/saves/New World (2)/region/r.2.-1.mca
.minecraft/saves/New World (2)/region/r.2.-2.mca
.minecraft/saves/New World (2)/region/r.2.-3.mca
.minecraft/saves/New World (2)/region/r.2.0.mca
.minecraft/saves/New World (2)/serverconfig/computercraft-server.toml
.minecraft/saves/New World (2)/serverconfig/create-server.toml
.minecraft/saves/New World (2)/stats/b8dafb87-d920-4b25-b8da-2fbe254c1519.json
.minecraft/XaeroWaypoints/Multiplayer_mc.hri7566.info/config.txt
.minecraft/XaeroWaypoints/New World/config.txt
.minecraft/XaeroWaypoints/New World (2)/config.txt
.minecraft/XaeroWaypoints/New World (2)/dim%0/waypoints.txt
.minecraft/crash-reports/crash-2022-08-03_19.22.17-client.txt
.minecraft/crash-reports/crash-2022-08-04_00.37.21-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.33.52-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.33.52-server.txt
.minecraft/crash-reports/crash-2022-08-04_22.35.17-server.txt
.minecraft/crash-reports/crash-2022-08-04_22.35.28-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.38.16-server.txt
.minecraft/crash-reports/crash-2022-08-04_22.38.28-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.40.58-server.txt
.minecraft/crash-reports/crash-2022-08-04_22.41.09-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.42.02-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.43.05-client.txt
.minecraft/crash-reports/crash-2022-08-04_22.50.45-client.txt
.minecraft/crash-reports/crash-2022-08-03_19.22.17-client.txt
.minecraft/crash-reports/crash-2022-08-04_00.37.21-client.txt
.minecraft/logs/2022-08-04-1.log.gz
.minecraft/logs/2022-08-04-2.log.gz
.minecraft/logs/2022-08-04-3.log.gz
.minecraft/logs/2022-08-04-4.log.gz
.minecraft/logs/2022-08-04-5.log.gz
.minecraft/logs/2022-08-04-6.log.gz
.minecraft/logs/2022-08-05-1.log.gz
.minecraft/logs/2022-08-05-2.log.gz
.minecraft/logs/2022-08-05-3.log.gz
.minecraft/logs/2022-08-05-4.log.gz
.minecraft/logs/2022-08-05-5.log.gz
.minecraft/logs/2022-08-09-1.log.gz
.minecraft/logs/2022-08-09-2.log.gz
.minecraft/logs/2022-08-09-3.log.gz
.minecraft/logs/2022-08-09-4.log.gz
.minecraft/logs/2022-08-22-1.log.gz
.minecraft/logs/latest.log
.minecraft/logs/rei-issues.log
.minecraft/logs/rei.log
.minecraft/logs/kubejs/client.txt
.minecraft/logs/kubejs/server.txt
.minecraft/logs/kubejs/startup.txt
.minecraft/usercache.json
.minecraft/XaeroWaypoints/New World/config.txt
.minecraft/XaeroWaypoints/New World/config.txt
.minecraft/XaeroWorldMap/Multiplayer_mc.hri7566.info/server_config.txt
.minecraft/XaeroWorldMap/New World/server_config.txt
.minecraft/XaeroWorldMap/New World/null/.lock
.minecraft/XaeroWorldMap/New World/null/dimension_config.txt
.minecraft/XaeroWorldMap/New World/null/cache/1/-1_-1.xwmc
.minecraft/XaeroWorldMap/New World/null/cache/1/0_-1.xwmc
.minecraft/XaeroWorldMap/New World/null/cache_1/-1_-1.xwmc.outdated
.minecraft/XaeroWorldMap/New World/null/cache_1/-1_-2.xwmc.outdated
.minecraft/XaeroWorldMap/New World/null/cache_1/-1_-2.xwmc.temp
.minecraft/XaeroWorldMap/New World/null/cache_1/-2_-1.xwmc
.minecraft/XaeroWorldMap/New World/null/cache_1/-2_-2.xwmc
.minecraft/XaeroWorldMap/New World/null/cache_1/0_-1.xwmc
.minecraft/XaeroWorldMap/New World/null/cache_1/0_-2.xwmc
.minecraft/XaeroWorldMap/New World (2)/server_config.txt
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/.lock
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/dimension_config.txt
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/cache_1/-1_0.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/cache_1/0_0.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/cache_1/0_1.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/cache_1/1_0.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/dimdoors$dungeon_pockets/cache_1/1_1.xwmc
.minecraft/XaeroWorldMap/New World (2)/null/.lock
.minecraft/XaeroWorldMap/New World (2)/null/dimension_config.txt
.minecraft/XaeroWorldMap/New World (2)/null/cache_1/0_-1.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/null/cache_1/0_-2.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/null/cache_1/1_-1.xwmc.outdated
.minecraft/XaeroWorldMap/New World (2)/null/cache_1/1_-2.xwmc.outdated
